* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
    
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
  }

  

h1{
    font-size: 1.9rem;
    line-height: 1.5;
}

/*section id title  Styles start*/
#title{
    background-color:rgb(198, 114, 236);
    padding: 3% 15%;
    
}

button.btn.btn-dark.btn-lg {
    margin: auto;
}


/*section title area style ending*/


/*section id feature Styles start*/

#features{
    margin: 7% 15%;

}

.feature-box{
    text-align: center; 
    padding: 4.5%;
}


.icon{
    color: aquamarine;
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: blue;
}


/* section id feature style ending */

/*navbar chenges*/

.bg-light {
   
  /*  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background-color:rgb(12, 69, 150)!important;

}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 20px;
    line-height: 1.25;
}


