* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
    
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
  }

  

h1{
    font-size: 1.9rem;
    line-height: 1.5;
}

/*section id title  Styles start*/
#title{
    background-color:rgb(198, 114, 236);
    padding: 3% 15%;
    
}

button.btn.btn-dark.btn-lg {
    padding: 20px 46px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}


/*section title area style ending*/


/*section id feature Styles start*/

#features{
    margin: 7% 15%;

}

.feature-box{
    text-align: center; 
    padding: 4.5%;
}


.icon{
    color: aquamarine;
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: blue;
}


/* section id feature style ending */

/* section testimonial starting point */

#testimonials {
    padding: 7% 15%;
    background-color: rgb(198, 114, 236);
    text-align: center;
    color: #fff;
  }
  
  /*.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    padding: 4.5%;
  } */
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  
/* section testimonial ending point */

/* section press ending point */

  #press{
      background-color: rgb(198, 114, 236);
      text-align: center;
      
  }

  .press-logo {
    width: 15%;
    
  }

/* section press ending point */

/* section benifits starting point */

#benifits{
    text-align: center;
    margin: 4% 10%;
}
   
.benifit-box{
    text-align: center; 
    padding: 4.5%;
}


/* section benifits ending point */

/*section cta */
#cta{
    text-align: center;
    background-color:#b2b2e2;
}


/* Footer Section */
#footer{
    text-align: center;
    background-color:#b2b2e2;
}

.social-icon {
    margin: 20px 10px;
  }



/*navbar changes*/

.bg-light {
   
  /*  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background-color:#b2b2e2!important;

}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 20px;
    line-height: 1.25;
}




