* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
    background-color: darkcyan;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    


}
/*section id's Styles*/
#title{
    background-color: azure;
}



/*navbar chenges*/

.bg-light {
    background-color: rgb(12, 69, 150)!important;

}